/** Remove unused elements **/

div.DiscussionsTabs, div.CommentTabs, .DraftButton, #Form_Preview {
  display: none;
}

/** Menu modifications **/

#Head {
  background-color: transparent;
}

#Menu li a {
  color: #000000;
}

#Menu li span {
  background-color: #2595cb;
  color: #FFFFFF;
}

#Menu li:hover span, #Menu li.Highlight span   {
  background-color: #FFFFFF;
  color: #2595cb;
}

#Menu li.Highlight a {
  color: #FFFFFF;
  background-color: #2595cb;
}

div.Search div {
  border-color: #2595cb;
  border-style: solid;
  border-width: 1px;
}

div.Box h4 {
  margin-top: 0.3em;
  margin-bottom: 0.7em;
  font-size: 1.2em;
}

div.Box li {
  font-size: 1em;
  margin-bottom: 0px;
}

/** Headings **/

div.Headings {
  padding-top: 0.8em;
}

div.Headings h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #09475A;
  margin: 0.3em;
  display: inline;
}

div.Headings span {
  margin-left: 1em;
}

div.Headings div.controls {
  float: right;
}

/** Conversations list **/

h3.Users {
  float: right;
  margin-right: 1em;
}

div.Conversation {
  overflow: auto;
}

div.Conversation div.Photo {
  display: none;
}

/** Discussions **/

div.DiscussionTab a.Bookmark {
  display: block;
  position: relative;
  top: -1em;
}

ul.Flyout {
  margin: 0px;
}

li.Mine {
  background-color: transparent;
}

li.New {
  background-color: #FEFECC;
}

ul.MessageList div.Meta span.Author img {
   height: 80px;
   width: 80px;
   margin-bottom: 1em;
}

ul.MessageList div.Message {
  font-size: 0.9em;
}

div.Message img {
  max-width: 675px;
}

div.QuoteText, div.QuoteText p, div.QuoteText div {
  font-size: 1em;
}

/** tinyMCE integration **/

div.Comment div.MessageForm div a {
  font-size: 0.8em;
}

#DiscussionForm #Form_Body, #Form_Body {
  margin: 0;
}

div.TextBoxControls {
  float: right;
  background-color: #F0F0EE;
  border: solid #CCCCCC;
  border-width: 0px 1px 1px 1px;
  padding: 0 1em 0 1em;
  font-size: 0.8em;
}

div.TextBoxControls a {
  color: #000000;
}

/** Popup **/

#Popup .Border {
  min-width: 400px;
}