img {
    max-width: 200px;
    max-height: 200px;
}

blockquote {
   padding: 5px 10px;
   padding-left: 5px;
   font-style: italic;
   background-color: #ABDAFB;
   color: #232323;
   border-left: 1px solid grey;
}